body{
color: blue;
font-size: large;
text-decoration: solid;
font-style: italic;
text-align: center;
}

body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    border-radius: 5px;
background-color: aqua;
padding: 10px 30px;
text-transform: capitalize;
margin: 4px;
}

.loader{
    display: ce;
    display: none;
    border-radius: 30px;
    height: 30px;
    width: 10px;
}